.container {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}
.textBlock {
    width: 300px;
    margin-top: 80px;
}
textBlock textarea {
    outline: none;
}
.konvajs-content {
    margin: 80px auto;
    box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.2);
}
